beautifulsoup4
certifi
cffi
charset-normalizer
curl_cffi
frozendict
idna
multitasking
numpy
pandas
peewee
platformdirs
protobuf
pycparser
python-dateutil
pytz
requests
six
soupsieve
typing_extensions
tzdata
urllib3
websockets
yfinance
apscheduler
lxml
fastapi
uvicorn
pydantic